body {
	background: #FFFFFF;
}

a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

header {
	position: absolute;
	height: 116px;
	left: 0px;
	right: 0px;
	top: 0px;
	background: linear-gradient(180deg, #56CCF2 0%, #FFFFFF 121.12%);
}

#logo {
	position: absolute;
width: 68px;
height: 68px;
left: 24px;
top: 24px;
background: url("logo.png");
}

#logoText {
	position: absolute;
width: 176px;
height: 116px;
left: 120px;
top: 0px;

font-family: Arial;
font-style: italic;
font-weight: bold;
font-size: 36px;
line-height: 41px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}

#headerText {
	position: absolute;
height: 116px;
left: 296px;
right: 40px;
top: 0px;

font-family: Arial;
font-style: italic;
font-weight: bold;
font-size: 24px;
line-height: 100%;

display: flex;
align-items: center;
text-align: right;

color: #000000;

}

#intro {
	position: absolute;
height: 208px;
left: 40px;
right: 40px;
top: 116px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 41px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}

#content {
position: absolute;
left: 0px;
right: 0px;
top: 324px;

border: 1px solid #000000;
box-sizing: border-box;
}

#cB1, #cB2, #cB3, #cB4 {
position: relative;
width: 328px;
height: 180px;
left: 0px;
top: 0px;

background: linear-gradient(254.34deg, #E1E1E1 1.52%, #5C5C5C 47.29%, #000000 100%);
}

#video {
	position: absolute;
width: 428px;
height: 240px;
right: 40px;
top: 680px;

background: #C4C4C4;
}

footer {
	position: absolute;
height: 68px;
left: 0px;
right: 0px;
top: 956px;

background: #000000;
}

#footerText {
position: absolute;
height: 67px;
left: 40px;
right: 40px;
top: 957px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

#wtfCat {
position: absolute;
width: 40px;
height: 40px;
right: 14px;
top: 970px;

background: #C4C4C4;
}