@font-face {
	font-family: 'myFont';
	src: url('Capture_it-webfont.woff') format('woff');
}

body {
}

.darkBody {
	background: #222222;
}

.lightBody {
	background: white;
}

#field {
	position: absolute;
	width: 780px;
	height: 1100px;
	left: calc(50% - 780px/2);
	top: 0px;
}

#messageArea {
	position: absolute;
	height: 50px;
	left: 18px;
	right: 18px;
	top: 59px;
	font-size: 50px;
	line-height: 55px;
	display: block;
	align-items: center;
	text-align: center;
	color: #1371C8;
	font-family: 'myFont', Arial;
}

#colorMode {
position: absolute;
width: 58px;
height: 58px;
left: calc(50% - 58px/2 + 343px);
top: 40px;
	z-index: 2;
}

.darkMode {
	background: url(darkMode.png) no-repeat center center;
}

.lightMode {
	background: url(lightMode.png) no-repeat center center;
}

#soundMode {
position: absolute;
width: 58px;
height: 58px;
left: calc(50% - 58px/2 - 343px);
top: 40px;
	z-index: 2;
}

.mute {
	background: url(mute.png) no-repeat center center;
}

.sound {
	background: url(sound.png) no-repeat center center;
}

#starScore {
position: absolute;
width: 58px;
height: 58px;
left: calc(50% - 58px/2 - 343px);
top: 727px;
	z-index: 2;
	text-align: center;
	line-height: 58px;
	font-weight: bold;
	font-size: 24px;
	font-family: Arial;
	background: url(starScore.png) no-repeat center center;
}

#board {
	position: absolute;
	width: 604px;
	height: 604px;
	left: calc(50% - 604px/2);
	top: 111px;
	background: url("board.png") no-repeat center center;
}

#window {
	display: block;
	position: absolute;
	top: 50px;
	left: 50px;
	height: 500px;
	width: 500px;
	border: solid #1371C8;
	text-align: center;
	z-index: 2;
	font-size: 50px;
	font-family: Arial;
	border-radius: 10px;
}

.lightWindow {
	background: #85C8DD;
}

.darkWindow {
	background: radial-gradient(85.7% 85.7% at 50% 50%, #74D7F7 0%, #000000 100%);			
}

#chooseSymbol {
	position: absolute;
	width: 417px;
	height: 84px;
	left: 42px;
	top: 101px;
	color: blue;
	font-size: 36px;
	font-family: Arial;			
}

#buttonX {
	position: absolute;
	width: 198px;
	height: 148px;
	left: 42px;
	top: 258px;
	background: url('xButton.png');
}

#buttonO {
	position: absolute;
	width: 198px;
	height: 148px;
	left: 269px;
	top: 258px;
	background: url('oButton.png');			
}

table {
	position: absolute;
	left: 0px;
	top: 0px;
	border-spacing: 0px;
}

td {
	width: 200px;
	height: 200px;
	padding: 0px;
}

.x {
	background: url(x.png) no-repeat center center;
}

.o {
	background: url(o.png) no-repeat center center;
}

#winLine {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 604px;
	height: 604px;
	display: none;			
}

.row0 {
	background: url('winRow0.png') no-repeat center center;	
}

.row1 {
	background: url('winRow1.png') no-repeat center center;	
}

.row2 {
	background: url('winRow2.png') no-repeat center center;	
}

.col0 {
	background: url('winCol0.png') no-repeat center center;	
}

.col1 {
	background: url('winCol1.png') no-repeat center center;	
}

.col2 {
	background: url('winCol2.png') no-repeat center center;	
}

.dia1 {
	background: url('winDia1.png') no-repeat center center;	
}

.dia2 {
	background: url('winDia2.png') no-repeat center center;	
}

#statArea {
	position: absolute;
	height: 130px;
	left: 18px;
	right: 18px;
	top: 717px;
	font-size: 50px;
	line-height: 55px;
	display: block;
	align-items: center;
	text-align: center;
	color: #1371C8;
	font-family: 'myFont', Arial;
}

#newGameButton {
	position: absolute;
	width: 228px;
	height: 148px;
	left: calc(50% - 228px/2 - 152px);
	top: 852px;
	text-align: center;
	line-height: 140px;
	display: none;
	background: url('button.png') no-repeat center center;
	color: white;
	font-size: 36px;
	font-family: Arial;
}

#continueGameButton {
	position: absolute;
	width: 228px;
	height: 148px;
	left: calc(50% - 228px/2 + 151px);
	top: 852px;
	text-align: center;
	line-height: 140px;
	display: none;
	background: url('button.png') no-repeat center center;
	color: white;
	font-size: 36px;
	font-family: Arial;
}

#newGameButton, #continueGameButton, #window {
	animation-name: showButtons;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
}

@keyframes showButtons {
	0%   {opacity: 0%;}
	25%  {opacity: 25%;}
	50%  {opacity: 50%;}
	75%  {opacity: 75%;}
	100% {opacity: 100%;}
}

.winStar {
	opacity: 0%;
	animation-name: fadeStar;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
   	transition: transform 1s ease-out;
   	transform: rotate(360deg) scale(10);
}

.failStar {
	opacity: 0%;
	animation-name: fadeStar;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
   	transition: transform 1s ease-out;
   	transform: scale(5);
}

@keyframes fadeStar {
	0%   {opacity: 100%;}
	25%  {opacity: 75%;}
	50%  {opacity: 50%;}
	75%  {opacity: 25%;}
	100% {opacity: 0%;}
}